.header ul{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}
.header ul li{
    flex-wrap: nowrap;
    flex-shrink: 0;
    display: inline-flex;
}
.header ul li#llin{
    cursor: pointer;
    color: #007bff;
}